Repository app-sre/deployment-validation-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: deployment-validation-operator-fbc-on-pull-request, deployment-validation-operator-on-pull-request, fbc-ocp4-19-on-pull-request

Path conditions:
  deployment-validation-operator-fbc-on-pull-request: ((any of: konflux-ci/fbc/***) or (any of: .tekton/deployment-validation-operator-fbc-pull-request.yaml)) or (any of: konflux-ci/fbc/catalog.Dockerfile)
  deployment-validation-operator-on-pull-request: ((any of: konflux-ci/bundle/***) or (any of: .tekton/deployment-validation-operator-bundle-pull-request.yaml)) or (any of: konflux-ci/bundle/bundle.Dockerfile)
  fbc-ocp4-19-on-pull-request: (any of: konflux-ci/fbc/***) or (any of: .tekton/fbc-ocp4-19-pull-request.yaml)

Fix Golang version to adapt to the builder image
  go.mod
  go.sum
Due: none

Update builder images
  build/Dockerfile
Due: none

Fix Golang version for the CI images (outdated)
  go.mod
Due: none

DVO-483: Upgrade Golang to 1.25.11 to fix several CVEs attached to an outdated version (#710)
  build/Dockerfile
  go.mod
  go.sum
Due: none

Update bundles' CSVs and operator Dockerfile versions to 0.7.16
  build/Dockerfile
  konflux-ci/bundle/bundle.Dockerfile
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
  konflux-ci/managed-clusters/bundle/bundle.Dockerfile
  konflux-ci/managed-clusters/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Update bundles' CSVs and operator Dockerfile versions to 0.7.16 (#711)
  build/Dockerfile
  konflux-ci/bundle/bundle.Dockerfile
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
  konflux-ci/managed-clusters/bundle/bundle.Dockerfile
  konflux-ci/managed-clusters/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Update operator image's digest for 0.7.16
  .tekton/images-mirror-set.yaml
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
  konflux-ci/managed-clusters/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Update operator image's digest for 0.7.16 (#712)
  .tekton/images-mirror-set.yaml
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
  konflux-ci/managed-clusters/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Update the FBC fragments for managed and unmanaged clusters
  konflux-ci/fbc/bundle.object/catalog/deployment-validation-operator/catalog.yml
  konflux-ci/fbc/csv.metadata/catalog/deployment-validation-operator/catalog.yml
  konflux-ci/managed-clusters/olm/catalog/deployment-validation-operator/index.yml
Due: deployment-validation-operator-fbc-on-pull-request, fbc-ocp4-19-on-pull-request

Update the FBC fragments for managed and unmanaged clusters (#713)
  konflux-ci/fbc/bundle.object/catalog/deployment-validation-operator/catalog.yml
  konflux-ci/fbc/csv.metadata/catalog/deployment-validation-operator/catalog.yml
  konflux-ci/managed-clusters/olm/catalog/deployment-validation-operator/index.yml
Due: deployment-validation-operator-fbc-on-pull-request, fbc-ocp4-19-on-pull-request

Fix the catalog fragment to csv.metadata type
  konflux-ci/managed-clusters/olm/catalog/deployment-validation-operator/index.yml
Due: none

Fix the catalog fragment to csv.metadata type (#714)
  konflux-ci/managed-clusters/olm/catalog/deployment-validation-operator/index.yml
Due: none

Fix base image to UBI 9
  build/Dockerfile
Due: none

Fix base image to UBI 9 (#723)
  build/Dockerfile
Due: none

Upgrade x/text library to 0.41
  go.mod
  go.sum
Due: none

Upgrade x/text library to 0.41 (#727)
  go.mod
  go.sum
Due: none

Upgraded Golang version to 1.25.13
  go.mod
Due: none

Move the version to toolchain to help CI to catch up
  go.mod
Due: none

DVO-497: Upgraded Golang version to 1.25.13 (#730)
  go.mod
Due: none

Update the file focused on usability
  .cursor/skills/cve-acknowledge/SKILL.md
Due: none

Update the file focused on usability (#731)
  .cursor/skills/cve-acknowledge/SKILL.md
Due: none

Updated pipelines with missing arch and params
  .tekton/fbc-ocp4-22-pull-request.yaml
  .tekton/fbc-ocp4-22-push.yaml
Due: none

Updated pipelines with missing arch and params
  .tekton/fbc-ocp5-0-pull-request.yaml
  .tekton/fbc-ocp5-0-push.yaml
Due: none

Add new Dockerfile for OCP5 versions
  .tekton/fbc-ocp5-0-pull-request.yaml
  .tekton/fbc-ocp5-0-push.yaml
  konflux-ci/fbc/catalog.ocp5.Dockerfile
Due: deployment-validation-operator-fbc-on-pull-request, fbc-ocp4-19-on-pull-request

Add new Dockerfile for OCP5 versions (#735)
  .tekton/fbc-ocp5-0-pull-request.yaml
  .tekton/fbc-ocp5-0-push.yaml
  konflux-ci/fbc/catalog.ocp5.Dockerfile
Due: deployment-validation-operator-fbc-on-pull-request, fbc-ocp4-19-on-pull-request

Update memory limits to avoid OOM
  deploy/observability/template.yaml
  deploy/openshift/operator.yaml
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
  konflux-ci/managed-clusters/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Update memory limits to avoid OOM (#737)
  deploy/observability/template.yaml
  deploy/openshift/operator.yaml
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
  konflux-ci/managed-clusters/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Upgraded release version to 17 on bundle CSVs and containerfiles
  build/Dockerfile
  konflux-ci/bundle/bundle.Dockerfile
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
  konflux-ci/managed-clusters/bundle/bundle.Dockerfile
  konflux-ci/managed-clusters/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Upgraded release version to 17 on bundle CSVs and containerfiles (#738)
  build/Dockerfile
  konflux-ci/bundle/bundle.Dockerfile
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
  konflux-ci/managed-clusters/bundle/bundle.Dockerfile
  konflux-ci/managed-clusters/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Update operator image digest for 0.7.17
  .tekton/images-mirror-set.yaml
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
  konflux-ci/managed-clusters/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Update operator image digest for 0.7.17 (#739)
  .tekton/images-mirror-set.yaml
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
  konflux-ci/managed-clusters/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Update catalog fragments for 0.7.17
  konflux-ci/fbc/bundle.object/catalog/deployment-validation-operator/catalog.yml
  konflux-ci/fbc/csv.metadata/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request, fbc-ocp4-19-on-pull-request

Update catalog fragments for 0.7.17
  konflux-ci/managed-clusters/olm/catalog/deployment-validation-operator/index.yml
Due: none

DVO-500: [release-0.7.17] Update the FBC fragments (#741)
  konflux-ci/fbc/bundle.object/catalog/deployment-validation-operator/catalog.yml
  konflux-ci/fbc/csv.metadata/catalog/deployment-validation-operator/catalog.yml
  konflux-ci/managed-clusters/olm/catalog/deployment-validation-operator/index.yml
Due: deployment-validation-operator-fbc-on-pull-request, fbc-ocp4-19-on-pull-request

Add FBC fragments for version 0.7.16
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.16-fbc.yaml
Due: none

Add operator images payloads
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.16-managed-clusters.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.16-operator.yaml
Due: none

Add release payloads for 0.7.17
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.17-fbc.yaml
Due: none

DVO-500: [release-0.7.17] Update release payloads (#742)
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.16-fbc.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.16-managed-clusters.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.16-operator.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.17-fbc.yaml
Due: none

Add .coderabbit.yaml configuration
  .coderabbit.yaml
Due: none

Add .coderabbit.yaml configuration (#747)
  .coderabbit.yaml
Due: none
