Repository app-sre/deployment-validation-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: deployment-validation-operator-fbc-on-pull-request, deployment-validation-operator-on-pull-request

deployment-validation-operator-fbc-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/dvo-obsint-tenant/deployment-validation-operator-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

deployment-validation-operator-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/dvo-obsint-tenant/deployment-validation-operator/deployment-validation-operator:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

NO-JIRA: FBC manifests for release 0.7.11 (#542)
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.11-fbc.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.9-fbc.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-fbc-ocp-4-15.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-fbc-ocp-4-16.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-fbc-ocp-4-17.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-fbc-ocp-4-18.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-fbc-ocp-4.19.yaml
Due: none

Upgrade helm library to 3.17.3
  go.mod
  go.sum
Due: none

Upgrade Golang to 1.24.5
  build/Dockerfile
  go.mod
Due: none

NO-JIRA: Maintenance : update golang 1.24 (#545)
  build/Dockerfile
  go.mod
  go.sum
Due: none

Update outdated libraries
  go.mod
  go.sum
Due: none

Update outdated libraries (#550)
  go.mod
  go.sum
Due: none

Update Konflux references
  .tekton/deployment-validation-operator-bundle-pull-request.yaml
  .tekton/deployment-validation-operator-bundle-push.yaml
  .tekton/deployment-validation-operator-pull-request.yaml
  .tekton/deployment-validation-operator-push.yaml
  .tekton/fbc-ocp4-15-pull-request.yaml
  .tekton/fbc-ocp4-15-push.yaml
  .tekton/fbc-ocp4-16-pull-request.yaml
  .tekton/fbc-ocp4-16-push.yaml
  .tekton/fbc-ocp4-17-pull-request.yaml
  .tekton/fbc-ocp4-17-push.yaml
  .tekton/fbc-ocp4-18-pull-request.yaml
  .tekton/fbc-ocp4-18-push.yaml
  .tekton/fbc-ocp4-19-pull-request.yaml
  .tekton/fbc-ocp4-19-push.yaml
Due: deployment-validation-operator-on-pull-request

Red Hat Konflux update deployment-validation-operator
  .tekton/deployment-validation-operator-pull-request.yaml
  .tekton/deployment-validation-operator-push.yaml
Due: none

Fix removed params customization
  .tekton/deployment-validation-operator-pull-request.yaml
Due: none

Fix rpms-signature-scan image sha
  .tekton/deployment-validation-operator-pull-request.yaml
Due: none

Fix on-push pipelines with changes done on pr file
  .tekton/deployment-validation-operator-push.yaml
Due: none

Fix bundle for multi-arch
  .tekton/images-mirror-set.yaml
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Fix bundle for multi-arch
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Add arm64 to the build-platforms param
  .tekton/fbc-ocp4-15-pull-request.yaml
  .tekton/fbc-ocp4-15-push.yaml
  .tekton/fbc-ocp4-16-pull-request.yaml
  .tekton/fbc-ocp4-16-push.yaml
  .tekton/fbc-ocp4-17-pull-request.yaml
  .tekton/fbc-ocp4-17-push.yaml
  .tekton/fbc-ocp4-18-pull-request.yaml
  .tekton/fbc-ocp4-18-push.yaml
  .tekton/fbc-ocp4-19-pull-request.yaml
  .tekton/fbc-ocp4-19-push.yaml
Due: none

DVO-294: Fix bundle for multi-arch (#557)
  .tekton/images-mirror-set.yaml
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Add arm64 to the build-platforms param (#558)
  .tekton/fbc-ocp4-15-pull-request.yaml
  .tekton/fbc-ocp4-15-push.yaml
  .tekton/fbc-ocp4-16-pull-request.yaml
  .tekton/fbc-ocp4-16-push.yaml
  .tekton/fbc-ocp4-17-pull-request.yaml
  .tekton/fbc-ocp4-17-push.yaml
  .tekton/fbc-ocp4-18-pull-request.yaml
  .tekton/fbc-ocp4-18-push.yaml
  .tekton/fbc-ocp4-19-pull-request.yaml
  .tekton/fbc-ocp4-19-push.yaml
Due: none

Upgrade containerfile for the new release
  build/Dockerfile
Due: none

Upgrade containerfile for the new release (#560)
  build/Dockerfile
Due: none

Chore set to default
  .tekton/images-mirror-set.yaml
Due: none

Upgrade bundle to release 12 and operator image sha update
  konflux-ci/bundle/bundle.Dockerfile
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Fix specify image digests on mirrordigestset
  .tekton/images-mirror-set.yaml
Due: none

DVO-296: [release-0.7.12] Upgrade bundle image and CSV (#562)
  .tekton/images-mirror-set.yaml
  konflux-ci/bundle/bundle.Dockerfile
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Update release payload of the 0.7.12 release
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.12-operator.yaml
  konflux-ci/cli-manifests/staging-release.yaml
Due: none

Add CLAUDE.md for Claude Code integration
  CLAUDE.md
Due: none

Update fbc fragments with the new release
  konflux-ci/fbc/bundle.object/catalog/deployment-validation-operator/catalog.yml
  konflux-ci/fbc/csv.metadata/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Fix catalog typo on operator version
  konflux-ci/fbc/bundle.object/catalog/deployment-validation-operator/catalog.yml
  konflux-ci/fbc/csv.metadata/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

DVO-296: [release-0.7.12] Update FBC fragments with the new release (#567)
  konflux-ci/fbc/bundle.object/catalog/deployment-validation-operator/catalog.yml
  konflux-ci/fbc/csv.metadata/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Add new payloads for FBC's 0.7.12 release
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.12-fbc.yaml
Due: none

DVO-296: [release-0.7.12] Release payloads for the operator and FBCs (#568)
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.12-fbc.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.12-operator.yaml
  konflux-ci/cli-manifests/staging-release.yaml
Due: none

Upgrade outdated library and ubi minimal
  build/Dockerfile
  go.mod
  go.sum
Due: none

Upgrade outdated library and ubi minimal (#569)
  build/Dockerfile
  go.mod
  go.sum
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for deployment-validation-operator
  build/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for deployment-validation-operator (#572)
  build/Dockerfile
Due: none

test
  main.go
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for deployment-validation-operator-bundle
  konflux-ci/bundle/bundle.Dockerfile
Due: deployment-validation-operator-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for deployment-validation-operator-bundle (#574)
  konflux-ci/bundle/bundle.Dockerfile
Due: deployment-validation-operator-on-pull-request

Rollback misconfig of kube-linter checks for managed clusters
  hack/olm-registry/hypershift-template.yaml
  hack/olm-registry/olm-artifacts-template.yaml
Due: none

Rollback misconfig of kube-linter checks for managed clusters (#581)
  hack/olm-registry/hypershift-template.yaml
  hack/olm-registry/olm-artifacts-template.yaml
Due: none

Update Template apiVersion for OCP 4.19+
  deploy/observability/template.yaml
  deploy/openshift/network-policies.yaml
  hack/olm-registry/hypershift-template.yaml
  hack/olm-registry/olm-artifacts-template.yaml
Due: none

Path conditions:
  deployment-validation-operator-fbc-on-pull-request: ((any of: konflux-ci/fbc/***) or (any of: .tekton/deployment-validation-operator-fbc-pull-request.yaml)) or (any of: konflux-ci/fbc/catalog.Dockerfile)
  deployment-validation-operator-on-pull-request: ((any of: konflux-ci/bundle/***) or (any of: .tekton/deployment-validation-operator-bundle-pull-request.yaml)) or (any of: konflux-ci/bundle/bundle.Dockerfile)
