Repository app-sre/deployment-validation-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: deployment-validation-operator-fbc-on-pull-request, deployment-validation-operator-on-pull-request, fbc-ocp4-19-on-pull-request

deployment-validation-operator-fbc-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/dvo-obsint-tenant/deployment-validation-operator-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

deployment-validation-operator-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/dvo-obsint-tenant/deployment-validation-operator/deployment-validation-operator:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

fbc-ocp4-19-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/dvo-obsint-tenant/fbc-ocp4-19:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

Add new catalog for the old OCP versions
  konflux-ci/fbc/catalog.old.Dockerfile
Due: deployment-validation-operator-fbc-on-pull-request, fbc-ocp4-19-on-pull-request

Fix build args and Dockerfile for old OCP versions
  .tekton/fbc-ocp4-12-pull-request.yaml
  .tekton/fbc-ocp4-12-push.yaml
  .tekton/fbc-ocp4-13-pull-request.yaml
  .tekton/fbc-ocp4-13-push.yaml
  .tekton/fbc-ocp4-14-pull-request.yaml
  .tekton/fbc-ocp4-14-push.yaml
Due: none

Test arch malfunction on Konflux
  .tekton/fbc-ocp4-12-pull-request.yaml
Due: none

Revert "Test arch malfunction on Konflux"
  .tekton/fbc-ocp4-12-pull-request.yaml
Due: none

Remove ARM arch from older OCP versions as the arch is not supported
  .tekton/fbc-ocp4-12-pull-request.yaml
  .tekton/fbc-ocp4-12-push.yaml
  .tekton/fbc-ocp4-13-pull-request.yaml
  .tekton/fbc-ocp4-13-push.yaml
  .tekton/fbc-ocp4-14-pull-request.yaml
  .tekton/fbc-ocp4-14-push.yaml
Due: none

DVO-363: Fix Konflux pipelines for OCP versions 4.12, 4.13, 4.14 (#639)
  .tekton/fbc-ocp4-12-pull-request.yaml
  .tekton/fbc-ocp4-12-push.yaml
  .tekton/fbc-ocp4-13-pull-request.yaml
  .tekton/fbc-ocp4-13-push.yaml
  .tekton/fbc-ocp4-14-pull-request.yaml
  .tekton/fbc-ocp4-14-push.yaml
  konflux-ci/fbc/catalog.old.Dockerfile
Due: deployment-validation-operator-fbc-on-pull-request, fbc-ocp4-19-on-pull-request

Add OCP 4.12, 4.13 and 4.14 release payloads
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.14-fbc.yaml
Due: none

Add OCP 4.12, 4.13 and 4.14 release payloads (#642)
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.14-fbc.yaml
Due: none

Upgrade Golang to 1.24.13
  go.mod
Due: none

Upgrade Golang to 1.24.13 (#644)
  go.mod
Due: none

Fix image name containing tag instead of digest
  konflux-ci/fbc/bundle.object/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request, fbc-ocp4-19-on-pull-request

Fix image name containing tag instead of digest (#646)
  konflux-ci/fbc/bundle.object/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request, fbc-ocp4-19-on-pull-request

Add release payloads for bundle.object based catalogs
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.14-fbc.yaml
Due: none

Add release payloads for bundle.object based catalogs (#647)
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.14-fbc.yaml
Due: none

Update outdated base operator image
  build/Dockerfile
Due: none

Update Golang and some libraries
  go.mod
  go.sum
Due: none

Update libraries after tidying
  go.mod
  go.sum
Due: none

Update outdated base operator image (#652)
  build/Dockerfile
Due: none

Migrate golangci-lint conf to version 2
  .golangci.yml
  ci/golangci-lint.sh
Due: none

Fix to tagged switch: staticcheck QF1002
  pkg/utils/selector.go
Due: none

chore(SLSRE-645): remove DVO from Service and Management Clusters
  hack/olm-registry/olm-artifacts-template.yaml
Due: none

chore(SLSRE-645): remove DVO from Service and Management Clusters (#656)
  hack/olm-registry/olm-artifacts-template.yaml
Due: none

Bump CI root image to get Go 1.25
  .ci-operator.yaml
Due: none

Update Go mod and sum with the last libraries updates
  go.mod
  go.sum
Due: none

DVO-411: Upgrade to Go 1.25 (#653)
  .ci-operator.yaml
  .golangci.yml
  ci/golangci-lint.sh
  go.mod
  go.sum
  pkg/utils/selector.go
Due: none

Fix CVE-2026-25679 and CVE-2026-27137
  go.mod
Due: none

Fix CVE-2026-33186 impacting gRPC-Go libray
  go.mod
  go.sum
Due: none

Fix CVE-2026-33186, CVE-2026-32282 and CVE-2026-32280
  go.mod
Due: none

Update memory limits to avoid OOM
  bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
  deploy/openshift/operator.yaml
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

NO-JIRA: Fix several CVEs updating libraries (see description) (#665)
  go.mod
  go.sum
Due: none

Update memory limits to avoid OOM (#666)
  bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
  deploy/openshift/operator.yaml
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Red Hat Konflux update fbc-ocp4-20
  .tekton/fbc-ocp4-20-pull-request.yaml
  .tekton/fbc-ocp4-20-push.yaml
Due: none

Fix parameter values
  .tekton/fbc-ocp4-20-pull-request.yaml
  .tekton/fbc-ocp4-20-push.yaml
Due: none

Red Hat Konflux update fbc-ocp4-21
  .tekton/fbc-ocp4-21-pull-request.yaml
  .tekton/fbc-ocp4-21-push.yaml
Due: none

Fix parameter values
  .tekton/fbc-ocp4-21-pull-request.yaml
  .tekton/fbc-ocp4-21-push.yaml
Due: none

Update operator and bundle CSV to the next release version
  build/Dockerfile
  konflux-ci/bundle/bundle.Dockerfile
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Update operator and bundle CSV to the next release version (#669)
  build/Dockerfile
  konflux-ci/bundle/bundle.Dockerfile
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Path conditions:
  deployment-validation-operator-fbc-on-pull-request: ((any of: konflux-ci/fbc/***) or (any of: .tekton/deployment-validation-operator-fbc-pull-request.yaml)) or (any of: konflux-ci/fbc/catalog.Dockerfile)
  deployment-validation-operator-on-pull-request: ((any of: konflux-ci/bundle/***) or (any of: .tekton/deployment-validation-operator-bundle-pull-request.yaml)) or (any of: konflux-ci/bundle/bundle.Dockerfile)
  fbc-ocp4-19-on-pull-request: (any of: konflux-ci/fbc/***) or (any of: .tekton/fbc-ocp4-19-pull-request.yaml)
