Repository app-sre/deployment-validation-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: deployment-validation-operator-fbc-on-pull-request, deployment-validation-operator-on-pull-request

Path conditions:
  deployment-validation-operator-fbc-on-pull-request: ((any of: konflux-ci/fbc/***) or (any of: .tekton/deployment-validation-operator-fbc-pull-request.yaml)) or (any of: konflux-ci/fbc/catalog.Dockerfile)
  deployment-validation-operator-on-pull-request: ((any of: konflux-ci/bundle/***) or (any of: .tekton/deployment-validation-operator-bundle-pull-request.yaml)) or (any of: konflux-ci/bundle/bundle.Dockerfile)

Bump Golang to 1.24.8
  go.mod
Due: none

DVO-303: Template kind apiVersion update (#598)
  deploy/observability/template.yaml
  deploy/openshift/network-policies.yaml
  go.mod
  hack/olm-registry/hypershift-template.yaml
  hack/olm-registry/olm-artifacts-template.yaml
Due: none

Update release value for 0.7.13
  build/Dockerfile
  konflux-ci/bundle/bundle.Dockerfile
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Update release value for 0.7.13 (#599)
  build/Dockerfile
  konflux-ci/bundle/bundle.Dockerfile
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Update operator image digest for 0.7.13
  .tekton/images-mirror-set.yaml
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Update operator image digest for 0.7.13 (#600)
  .tekton/images-mirror-set.yaml
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Add payloads for the 0.7.13 operator releases
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.13-operator.yaml
  konflux-ci/cli-manifests/staging-release.yaml
Due: none

Update FBC fragments for 0.7.13
  konflux-ci/fbc/bundle.object/catalog/deployment-validation-operator/catalog.yml
  konflux-ci/fbc/csv.metadata/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Update FBC fragments for 0.7.13 (#601)
  konflux-ci/fbc/bundle.object/catalog/deployment-validation-operator/catalog.yml
  konflux-ci/fbc/csv.metadata/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Add FBC payloads for the catalogs release of 0.7.13
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.13-fbc.yaml
  konflux-ci/cli-manifests/staging-release-fbc.yaml
Due: none

[release-0.7.13] Add FBC Release payloads (#604)
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.13-fbc.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.13-operator.yaml
  konflux-ci/cli-manifests/staging-release-fbc.yaml
  konflux-ci/cli-manifests/staging-release.yaml
Due: none

Add amd64 architecture nodeSelector for ARM64 compatibility
  bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
  deploy/openshift/operator.yaml
  hack/olm-registry/hypershift-template.yaml
  hack/olm-registry/olm-artifacts-template.yaml
Due: none

Add amd64 architecture nodeSelector for ARM64 compatibility (#618)
  bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
  deploy/openshift/operator.yaml
  hack/olm-registry/hypershift-template.yaml
  hack/olm-registry/olm-artifacts-template.yaml
Due: none

Upgrade Golang version to 1.24.11
  go.mod
Due: none

Upgrade Golang version to 1.24.11 (#621)
  go.mod
Due: none

Update operator to the new next release version 0.7.14
  build/Dockerfile
  konflux-ci/bundle/bundle.Dockerfile
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Update operator to the new next release version 0.7.14 (#623)
  build/Dockerfile
  konflux-ci/bundle/bundle.Dockerfile
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Update operator digest for 0.7.14
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Update mirrorset digest with operators new digest
  .tekton/images-mirror-set.yaml
Due: none

[release-0.7.14] Update operator image digest for the new release (#624)
  .tekton/images-mirror-set.yaml
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Update FBC fragments for 0.7.14
  konflux-ci/fbc/bundle.object/catalog/deployment-validation-operator/catalog.yml
  konflux-ci/fbc/csv.metadata/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Update FBC fragments for 0.7.14 (#625)
  konflux-ci/fbc/bundle.object/catalog/deployment-validation-operator/catalog.yml
  konflux-ci/fbc/csv.metadata/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Update operator digest for 0.7.14 RC2
  .tekton/images-mirror-set.yaml
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Update operator digest for 0.7.14 RC2 (#627)
  .tekton/images-mirror-set.yaml
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Update FBC fragments for 0.7.14-rc2
  konflux-ci/fbc/bundle.object/catalog/deployment-validation-operator/catalog.yml
  konflux-ci/fbc/csv.metadata/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Update FBC fragments for 0.7.14-rc2 (#628)
  konflux-ci/fbc/bundle.object/catalog/deployment-validation-operator/catalog.yml
  konflux-ci/fbc/csv.metadata/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Update Release payload for 0.7.14-rc2
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.14-operator.yaml
Due: none

Add Konflux Release payload for 0.7.14
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.14-operator.yaml
Due: none

Add Konflux Release payloads for the FBCs for 0.7.14-rc2
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.14-fbc.yaml
Due: none

[release-0.7.14] [rc2] Add Release payloads (#631)
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.14-fbc.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.14-operator.yaml
Due: none

Red Hat Konflux update fbc-ocp4-14
  .tekton/fbc-ocp4-14-pull-request.yaml
  .tekton/fbc-ocp4-14-push.yaml
Due: none

Red Hat Konflux update fbc-ocp4-13
  .tekton/fbc-ocp4-13-pull-request.yaml
  .tekton/fbc-ocp4-13-push.yaml
Due: none

Red Hat Konflux update fbc-ocp4-12
  .tekton/fbc-ocp4-12-pull-request.yaml
  .tekton/fbc-ocp4-12-push.yaml
Due: none

Fix build-params and platform parameters
  .tekton/fbc-ocp4-14-pull-request.yaml
  .tekton/fbc-ocp4-14-push.yaml
Due: none

Add ARM arch and build args for older OCP versions pipelines
  .tekton/fbc-ocp4-12-pull-request.yaml
  .tekton/fbc-ocp4-12-push.yaml
  .tekton/fbc-ocp4-13-pull-request.yaml
  .tekton/fbc-ocp4-13-push.yaml
  .tekton/fbc-ocp4-14-pull-request.yaml
  .tekton/fbc-ocp4-14-push.yaml
Due: none

Added rhel8 as an option on FBC Dockerfile
  .tekton/fbc-ocp4-12-pull-request.yaml
  .tekton/fbc-ocp4-12-push.yaml
  .tekton/fbc-ocp4-13-pull-request.yaml
  .tekton/fbc-ocp4-13-push.yaml
  .tekton/fbc-ocp4-14-pull-request.yaml
  .tekton/fbc-ocp4-14-push.yaml
  konflux-ci/fbc/catalog.Dockerfile
Due: deployment-validation-operator-fbc-on-pull-request

Revert Dockerfile change
  konflux-ci/fbc/catalog.Dockerfile
Due: deployment-validation-operator-fbc-on-pull-request
