Repository app-sre/deployment-validation-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: deployment-validation-operator-fbc-on-pull-request, deployment-validation-operator-on-pull-request

Path conditions:
  deployment-validation-operator-fbc-on-pull-request: ((any of: konflux-ci/fbc/***) or (any of: .tekton/deployment-validation-operator-fbc-pull-request.yaml)) or (any of: konflux-ci/fbc/catalog.Dockerfile)
  deployment-validation-operator-on-pull-request: ((any of: konflux-ci/bundle/***) or (any of: .tekton/deployment-validation-operator-bundle-pull-request.yaml)) or (any of: konflux-ci/bundle/bundle.Dockerfile)

Fix merge conflcts leftovers and Update images SHAs
  .tekton/deployment-validation-operator-pull-request.yaml
Due: none

DVO-231: Fix outdated CI builder image (#461)
  .ci-operator.yaml
  .gitattributes
  .github/dependabot.yml
  Makefile
  ci/golangci-lint.sh
Due: none

Add missing sast tasks
  .tekton/deployment-validation-operator-bundle-pull-request.yaml
  .tekton/deployment-validation-operator-bundle-push.yaml
  .tekton/deployment-validation-operator-pull-request.yaml
  .tekton/deployment-validation-operator-push.yaml
Due: deployment-validation-operator-on-pull-request

Fix build-source-image missing error
  .tekton/deployment-validation-operator-bundle-pull-request.yaml
  .tekton/deployment-validation-operator-pull-request.yaml
Due: deployment-validation-operator-on-pull-request

Update Konflux references
  .tekton/deployment-validation-operator-bundle-pull-request.yaml
  .tekton/deployment-validation-operator-bundle-push.yaml
  .tekton/deployment-validation-operator-fbc-pull-request.yaml
  .tekton/deployment-validation-operator-fbc-push.yaml
Due: deployment-validation-operator-fbc-on-pull-request, deployment-validation-operator-on-pull-request

Remove problematic task on skipped scenario
  .tekton/deployment-validation-operator-bundle-pull-request.yaml
  .tekton/deployment-validation-operator-bundle-push.yaml
Due: deployment-validation-operator-on-pull-request

Update push pipelines with last version
  .tekton/deployment-validation-operator-bundle-push.yaml
  .tekton/deployment-validation-operator-push.yaml
Due: none

DVO-213: Test hermetic build consolidation (#442)
  .tekton/deployment-validation-operator-bundle-pull-request.yaml
  .tekton/deployment-validation-operator-bundle-push.yaml
  .tekton/deployment-validation-operator-pull-request.yaml
  .tekton/deployment-validation-operator-push.yaml
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Add configuration for konflux-bot
  renovate.json
Due: none

Add configuration for konflux-bot (#477)
  renovate.json
Due: none

Bump Golang to 1.23
  go.mod
Due: none

Revert to toolchain
  go.mod
Due: none

NO-JIRA: Bump Golang to 1.23 (#480)
  go.mod
Due: none

Update the Golang version of .ci-operator.yaml
  .ci-operator.yaml
Due: none

Update the Golang version of .ci-operator.yaml (#483)
  .ci-operator.yaml
Due: none

Add go mod tidy to avoid some errors at build time
  Makefile
Due: none

Add go mod tidy to avoid some errors at build time (#484)
  Makefile
Due: none

Fix Golang version mislead
  go.mod
Due: none

Revert unneeded tidy command
  Makefile
Due: none

Revert unneeded tidy command (#485)
  Makefile
Due: none

Add ImageDigestMirrorSet values for future images
  .tekton/images-mirror-set.yaml
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Add fips task to FBC pipelines
  .tekton/deployment-validation-operator-fbc-pull-request.yaml
  .tekton/deployment-validation-operator-fbc-push.yaml
Due: deployment-validation-operator-fbc-on-pull-request

Add new release from last snapshot
  konflux-ci/staging-release.yaml
Due: none

Add new snapshot from last master stable version
  konflux-ci/staging-snapshot.yaml
Due: none

DVO-213: Add ImageDigestMirrorSet links (#486)
  .tekton/deployment-validation-operator-fbc-pull-request.yaml
  .tekton/deployment-validation-operator-fbc-push.yaml
  .tekton/images-mirror-set.yaml
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
  konflux-ci/staging-release.yaml
  konflux-ci/staging-snapshot.yaml
Due: deployment-validation-operator-fbc-on-pull-request, deployment-validation-operator-on-pull-request

Konflux build pipeline service account migration for deployment-validation-operator Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/deployment-validation-operator-pull-request.yaml
  .tekton/deployment-validation-operator-push.yaml
Due: none

Konflux build pipeline service account migration for deployment-validation-operator-bundle Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/deployment-validation-operator-bundle-pull-request.yaml
  .tekton/deployment-validation-operator-bundle-push.yaml
Due: deployment-validation-operator-on-pull-request

Konflux build pipeline service account migration for deployment-validation-operator-fbc Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/deployment-validation-operator-fbc-pull-request.yaml
  .tekton/deployment-validation-operator-fbc-push.yaml
Due: deployment-validation-operator-fbc-on-pull-request

Fix folder for readability
  konflux-ci/cli-manifests/staging-release.yaml
  konflux-ci/cli-manifests/staging-snapshot.yaml
Due: none

Add manifest for user RoleBinding
  konflux-ci/cli-manifests/user-actions.yaml
Due: none

Rename file for readability
  konflux-ci/cli-manifests/user-rolebinding.yaml
Due: none

Fix EOF
  konflux-ci/cli-manifests/user-rolebinding.yaml
Due: none

NO-JIRA: Konflux user access manifest (#494)
  konflux-ci/cli-manifests/staging-release.yaml
  konflux-ci/cli-manifests/staging-snapshot.yaml
  konflux-ci/cli-manifests/user-rolebinding.yaml
Due: none

Add Prod images reference to mirror-set and bundle
  .tekton/images-mirror-set.yaml
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Add Prod images reference to mirror-set and bundle (#496)
  .tekton/images-mirror-set.yaml
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Fix outdated version for the bundle
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Fix outdated version for the bundle (#497)
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Fix duplication on go-toolset build
  build/Dockerfile
Due: none

Temporal fix to test staging
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Fix typo on mirror-set
  .tekton/images-mirror-set.yaml
Due: none
