Repository app-sre/deployment-validation-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: deployment-validation-operator-fbc-on-pull-request, deployment-validation-operator-on-pull-request

deployment-validation-operator-fbc-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/dvo-obsint-tenant/deployment-validation-operator-fbc:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

deployment-validation-operator-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/dvo-obsint-tenant/deployment-validation-operator/deployment-validation-operator:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

Red Hat Konflux purge dvo-fbc-ocp4-18 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/dvo-fbc-ocp4-18-pull-request.yaml
  .tekton/dvo-fbc-ocp4-18-push.yaml
Due: none

Fix catalog path
  konflux-ci/fbc/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Fix catalog path (#525)
  konflux-ci/fbc/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Update CI base image to support Golang with 1.24
  .ci-operator.yaml
Due: none

Update CI base image to support Golang with 1.24 (#522)
  .ci-operator.yaml
Due: none

Fix bundle image:tag value for image@sha value for Konflux pipeline
  konflux-ci/fbc/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Fix bundle image:tag value for image@sha value for Konflux pipeline (#530)
  konflux-ci/fbc/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Fix images typos from dependabot
  build/Dockerfile
Due: none

Update minimum Golang version
  go.mod
Due: none

Fix images typos from dependabot (#531)
  build/Dockerfile
Due: none

Update minimum Golang version (#509)
  go.mod
Due: none

Fix catalog 0.7.5 bundle migrated to csv.metadata
  konflux-ci/fbc/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Fix catalog 0.7.8 and 0.7.9 bundle migrated to csv.metadata
  konflux-ci/fbc/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Rollback catalog changes
  konflux-ci/fbc/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Add csv.metadata catalog in separate folder
  konflux-ci/fbc/csv.metadata/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Rename catalog to be used for certain OCP versions
  konflux-ci/fbc/bundle.object/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Add argument to use arbitrary catalog type
  konflux-ci/fbc/catalog.Dockerfile
Due: deployment-validation-operator-fbc-on-pull-request

Fix default catalog type on OCP 4.15-4.16
  .tekton/fbc-ocp4-15-pull-request.yaml
  .tekton/fbc-ocp4-15-push.yaml
  .tekton/fbc-ocp4-16-pull-request.yaml
  .tekton/fbc-ocp4-16-push.yaml
  konflux-ci/fbc/catalog.Dockerfile
Due: deployment-validation-operator-fbc-on-pull-request

DVO-285: Fix catalog 0.7.5 bundle migrated to csv.metadata (#532)
  .tekton/fbc-ocp4-15-pull-request.yaml
  .tekton/fbc-ocp4-15-push.yaml
  .tekton/fbc-ocp4-16-pull-request.yaml
  .tekton/fbc-ocp4-16-push.yaml
  konflux-ci/fbc/bundle.object/catalog/deployment-validation-operator/catalog.yml
  konflux-ci/fbc/catalog.Dockerfile
  konflux-ci/fbc/csv.metadata/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Fix folder depth
  konflux-ci/cli-manifests/release-payloads/prod-release-fbc-ocp-4-15.yaml
Due: none

Add release payload for the FBC for ocp 4.16-19
  konflux-ci/cli-manifests/release-payloads/prod-release-fbc-ocp-4-16.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-fbc-ocp-4-17.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-fbc-ocp-4-18.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-fbc-ocp-4.19.yaml
Due: none

Add release payload for the FBC for ocp 4.15
  konflux-ci/release-payloads/prod-release-fbc-ocp-4-15.yaml
Due: none

Update release version to 11
  build/Dockerfile
  konflux-ci/bundle/bundle.Dockerfile
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Upgrade release version for the operator
  build/Dockerfile
Due: none

NO-JIRA: FBC release payloads (#534)
  konflux-ci/cli-manifests/release-payloads/prod-release-fbc-ocp-4-15.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-fbc-ocp-4-16.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-fbc-ocp-4-17.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-fbc-ocp-4-18.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-fbc-ocp-4.19.yaml
Due: none

Upgrade release version for the operator (#536)
  build/Dockerfile
Due: none

Update operator build
  .tekton/images-mirror-set.yaml
Due: none

Fix annotation
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Fix unpinned images
  .tekton/images-mirror-set.yaml
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

NO-JIRA: Update release version for the bundle image (#535)
  .tekton/images-mirror-set.yaml
  konflux-ci/bundle/bundle.Dockerfile
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
Due: deployment-validation-operator-on-pull-request

Add new fragments for release 0.7.11
  konflux-ci/fbc/bundle.object/catalog/deployment-validation-operator/catalog.yml
  konflux-ci/fbc/csv.metadata/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Add release payload for 0.7.11
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.11-operator.yaml
Due: none

DVO-285: FBC fragments for release 0.7.11 (#538)
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.11-operator.yaml
  konflux-ci/fbc/bundle.object/catalog/deployment-validation-operator/catalog.yml
  konflux-ci/fbc/csv.metadata/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Rename previous payloads to the same file
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.9-fbc.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-fbc-ocp-4-15.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-fbc-ocp-4-16.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-fbc-ocp-4-17.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-fbc-ocp-4-18.yaml
  konflux-ci/cli-manifests/release-payloads/prod-release-fbc-ocp-4.19.yaml
Due: none

Add missing digest to operator image
  konflux-ci/fbc/bundle.object/catalog/deployment-validation-operator/catalog.yml
  konflux-ci/fbc/csv.metadata/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Add missing digest to operator image (#540)
  konflux-ci/fbc/bundle.object/catalog/deployment-validation-operator/catalog.yml
  konflux-ci/fbc/csv.metadata/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Fix missing annotation digest appears to break building process
  konflux-ci/fbc/csv.metadata/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Fix missing annotation digest appears to break building process (#541)
  konflux-ci/fbc/csv.metadata/catalog/deployment-validation-operator/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Add new manifests for the FBC release 0.7.11
  konflux-ci/cli-manifests/release-payloads/prod-release-0.7.11-fbc.yaml
Due: none

Path conditions:
  deployment-validation-operator-fbc-on-pull-request: ((any of: konflux-ci/fbc/***) or (any of: .tekton/deployment-validation-operator-fbc-pull-request.yaml)) or (any of: konflux-ci/fbc/catalog.Dockerfile)
  deployment-validation-operator-on-pull-request: ((any of: konflux-ci/bundle/***) or (any of: .tekton/deployment-validation-operator-bundle-pull-request.yaml)) or (any of: konflux-ci/bundle/bundle.Dockerfile)
