Repository app-sre/deployment-validation-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: deployment-validation-operator-fbc-on-pull-request, deployment-validation-operator-on-pull-request

Path conditions:
  deployment-validation-operator-fbc-on-pull-request: ((any of: konflux-ci/fbc/***) or (any of: .tekton/deployment-validation-operator-fbc-pull-request.yaml)) or (any of: konflux-ci/fbc/catalog.Dockerfile)
  deployment-validation-operator-on-pull-request: ((any of: konflux-ci/bundle/***) or (any of: .tekton/deployment-validation-operator-bundle-pull-request.yaml)) or (any of: konflux-ci/bundle/bundle.Dockerfile)

Add Prod manifests
  konflux-ci/cli-manifests/prod-release.yaml
  konflux-ci/cli-manifests/prod-snapshot.yaml
Due: none

Fix versioning for the prod images
  konflux-ci/bundle/bundle.Dockerfile
Due: deployment-validation-operator-on-pull-request

Add missing label for new Konflux UI
  konflux-ci/cli-manifests/staging-snapshot.yaml
Due: none

NO-JIRA: Fix outdated versions and Prod manifests (#500)
  .tekton/images-mirror-set.yaml
  konflux-ci/bundle/bundle.Dockerfile
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
  konflux-ci/cli-manifests/prod-release.yaml
  konflux-ci/cli-manifests/prod-snapshot.yaml
  konflux-ci/cli-manifests/staging-snapshot.yaml
Due: deployment-validation-operator-on-pull-request

Add missing versoin and release labels (for Konflux)
  build/Dockerfile
Due: none

Fix broken end of lines
  build/Dockerfile
Due: none

Add missing version and release labels (for Konflux) (#503)
  build/Dockerfile
Due: none

Add missing task fbc-target-index-pruning-check
  .tekton/deployment-validation-operator-fbc-pull-request.yaml
  .tekton/deployment-validation-operator-fbc-push.yaml
Due: deployment-validation-operator-fbc-on-pull-request

Add stub for new releases of FBC
  konflux-ci/cli-manifests/staging-release-fbc.yaml
Due: none

Add missing task dependency
  .tekton/deployment-validation-operator-fbc-pull-request.yaml
  .tekton/deployment-validation-operator-fbc-push.yaml
Due: deployment-validation-operator-fbc-on-pull-request

Fix catalog with most recent image to serve as base
  konflux-ci/fbc/catalog/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Update minimum Golang version
  go.mod
Due: none

Update CRD version
  .tekton/images-mirror-set.yaml
Due: none

Update apiVersion
  .tekton/images-mirror-set.yaml
Due: none

Cleanup unsupported tasks
  .tekton/deployment-validation-operator-fbc-pull-request.yaml
Due: deployment-validation-operator-fbc-on-pull-request

Red Hat Konflux update deployment-validation-operator-fbc Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/deployment-validation-operator-fbc-pull-request.yaml
  .tekton/deployment-validation-operator-fbc-push.yaml
Due: deployment-validation-operator-fbc-on-pull-request

Fix FBC base image based on the allowed list
  konflux-ci/fbc/catalog.Dockerfile
Due: deployment-validation-operator-fbc-on-pull-request

Fix second image still pointing to OPM open registry
  konflux-ci/fbc/catalog.Dockerfile
Due: deployment-validation-operator-fbc-on-pull-request

Merge changes from master branch referring to FBC pipelines and catalog
  .tekton/deployment-validation-operator-fbc-pull-request.yaml
  .tekton/deployment-validation-operator-fbc-push.yaml
  konflux-ci/fbc/catalog.Dockerfile
Due: deployment-validation-operator-fbc-on-pull-request

DVO-285: add missing task to fbc pipelines (#505)
  .tekton/images-mirror-set.yaml
  konflux-ci/cli-manifests/staging-release-fbc.yaml
  konflux-ci/fbc/catalog/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request

Red Hat Konflux update dvo-fbc-ocp4-18 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/dvo-fbc-ocp4-18-pull-request.yaml
  .tekton/dvo-fbc-ocp4-18-push.yaml
Due: none

Add fixed version for OCP 4.18
  .tekton/dvo-fbc-ocp4-18-pull-request.yaml
  .tekton/dvo-fbc-ocp4-18-push.yaml
Due: none

Add support to change OCP version
  konflux-ci/fbc/catalog.Dockerfile
Due: deployment-validation-operator-fbc-on-pull-request

removing myself from OWNERS list
  OWNERS
Due: none

removing myself from OWNERS list (#514)
  OWNERS
Due: none

DVO-285: Fix Konflux pipeline for the FBC for OCP 4.18 (#513)
  .tekton/dvo-fbc-ocp4-18-pull-request.yaml
  .tekton/dvo-fbc-ocp4-18-push.yaml
  konflux-ci/fbc/catalog.Dockerfile
Due: deployment-validation-operator-fbc-on-pull-request

Red Hat Konflux update fbc-ocp4-16 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-ocp4-16-pull-request.yaml
  .tekton/fbc-ocp4-16-push.yaml
Due: none

Red Hat Konflux update fbc-ocp4-17 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-ocp4-17-pull-request.yaml
  .tekton/fbc-ocp4-17-push.yaml
Due: none

Red Hat Konflux update fbc-ocp4-15 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-ocp4-15-pull-request.yaml
  .tekton/fbc-ocp4-15-push.yaml
Due: none

Red Hat Konflux update fbc-ocp4-19 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-ocp4-19-pull-request.yaml
  .tekton/fbc-ocp4-19-push.yaml
Due: none

Add default value for OCP 4.15
  .tekton/fbc-ocp4-15-pull-request.yaml
  .tekton/fbc-ocp4-15-push.yaml
Due: none

Red Hat Konflux update fbc-ocp4-18 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-ocp4-18-pull-request.yaml
  .tekton/fbc-ocp4-18-push.yaml
Due: none

Add default value for OCP 4.16
  .tekton/fbc-ocp4-16-pull-request.yaml
  .tekton/fbc-ocp4-16-push.yaml
Due: none

Fix catalog with missing entries
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
  konflux-ci/fbc/catalog/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request, deployment-validation-operator-on-pull-request

Add default value for OCP 4.17
  .tekton/fbc-ocp4-17-pull-request.yaml
  .tekton/fbc-ocp4-17-push.yaml
Due: none

Fix catalog with missing entries (#521)
  konflux-ci/bundle/manifests/deployment-validation-operator.clusterserviceversion.yaml
  konflux-ci/fbc/catalog/catalog.yml
Due: deployment-validation-operator-fbc-on-pull-request, deployment-validation-operator-on-pull-request

Add default value for OCP 4.18
  .tekton/fbc-ocp4-18-pull-request.yaml
  .tekton/fbc-ocp4-18-push.yaml
Due: none

Add default value for OCP 4.19
  .tekton/fbc-ocp4-19-pull-request.yaml
  .tekton/fbc-ocp4-19-push.yaml
Due: none

Update CI base image to support Golang with 1.23.9
  .ci-operator.yaml
Due: none

Red Hat Konflux purge deployment-validation-operator-fbc Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/deployment-validation-operator-fbc-pull-request.yaml
  .tekton/deployment-validation-operator-fbc-push.yaml
Due: deployment-validation-operator-fbc-on-pull-request
